body {
    font-size: 2em;
    font-family: monospace;
    margin: 0;
}
.nav {
}
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 20px;
}
.menu > li {
    list-style: none;
}
/*
 *  Grid layout. 
 * */
.control {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}
.child {
    padding: 1em;
    
}
