body {
    font-size: 2em;
    font-family: monospace;
    margin: 0;
}
.head {
    height: 200px;
    background: red;
    width: 100%;
}
.control {
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 30%));
    grid-gap: 20px;
}
.child {
    padding: 0.3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    border: 1px solid black;
    box-shadow: 6px 7px lightgray;
    word-wrap: break-word;
}