<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}Observing</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="nav">
          <ul class="menu">
              <li>Waapp: {{ values }}</li>
              <li>Woop: {{ values }}</li>
              <li>test: 400*</li>
              <li>terer sad </li>
          </ul>
        </div>
        <div class="control">
            <div class="child">
                <p>LED- Control</p>
                <div class="status">Status: {{ values }}</div>
                <form action="/" method="post">
                    <input type="submit" class="button" name="submit" value="blink">
                    <input type="submit" class="button" name="submit" value="solid">
                </form>
            </div>
        </div>
    </body>
</html>
